@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600');

/* This file is for your main application css. */
body {
  font-family: 'Josefin Slab', serif;
  font-size: 1.4em;
  text-align: center;
  background-color: hsla(0, 0%, 15%, 1);
  color: hsla(0, 0%, 40%, 1);
  margin-left: 15%;
  margin-right: 15%;
}

header * {
  display: inline;
  vertical-align: middle;
}

#logo {
  padding: 1em;
  width: 5em;
  height: 5em;
  max-width: 300px;
  max-height: 300px;
}

.left-align {
  text-align: left;
}

a {
  text-decoration: none;
  color: #7AC74C;
}

#gallery {
  margin: 0 auto;
  padding: 0 1em;
  column-gap: 0.3em;
}

.responsive-image {
  line-height: 0;
  vertical-align: top;
}

.responsive-image img {
  width: 100%;
  height: auto;
  margin: 0.150em;
  line-height: 0;
}

@media screen and (min-width: 1000px) {
  #gallery {
    column-count: 3;
  }
}
