<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TLL</title>
    <link rel=icon href="<%= static_path(@conn, "/images/logo.png") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <a href="../"><img id="logo" src="<%= static_path(@conn, "/images/logo.png") %>"></img></a>
      <h1>TheLostLambda</h>
    </header>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <footer>
      <p>Look forward to more neat things soon!</p>
      <a href="https://gitlab.com/TheLostLambda/thelostlambda.xyz"><p>Last Updated 2018.6.18 (23:49)</p></a>
    </footer>
  </body>
</html>
