<div class="center-sec">
  <h1>Computer Programming</h1>
  <p> Despite not actually pursuing a degree in computer science, I find myself
  doing a lot of hobby-programming. Over the years I've floated a lot between
  different languages and tools. Currently I run Arch Linux and use Emacs to
  write Haskell, Rust, and Common Lisp code. I've worked with plenty of other
  languages, but those three are, by far, my favourites. What can I say? I've
  got a soft spot for functional programming languages.</p>

  <p> Anyhow, you can check out some of my other projects
  on <a href="https://gitlab.com/TheLostLambda">GitLab</a>.</p>
</div>
<div class="right-sec justify rest">
  <h1>thelostlambda.xyz</h1>
  <h3 class="lit">Haskell / Web / HTML / CSS / JS</h3>
  <p> I primarily code to learn (with the occasional, more practical project),
  so I've got a nasty habit of trying to write things from the ground up. This
  website recently became one of those projects. The whole web server is written
  from the ground up without any framework and with minimal dependencies (only a
  Socket + Bytestring library at the moment).</p>
  <p> The front-end code for the website follows the same principles of
  minimalism and pulls only fonts from Google's CDN. The rest is just
  bog-standard HTML, CSS, and JavaScript. With that being said, I do try to use
  the most modern features that I can get away with (cry me a river, IE
  users).</p>
  <p> The goal of this project is not to produce "Industry Standard" code;
  rather, the goal is to learn as much as possible by implementing things from
  scratch. This should also help me feel out the limitations of the base
  technologies so that it's clearer in the future when external packages are
  needed.</p>
  <h3><a href="https://gitlab.com/TheLostLambda/thelostlambda.xyz">Source
  Code</a></h3>
</div>
