<div class="center-sec">
  <h1>The Beta "Blog"</h1>
  <p> This page holds all of the content and writing that I couldn't be bothered
    to put in a better place. Eventually I plan on writing about programming,
    scientific articles, miscellaneous essay topics or whatever else I feel like
    sharing. You've been warned...</p>
  
  <p>In the meantime, this is just a static HTML page — a more dynamic system is
    already in the works! That means that I don't have separate pages for posts or
    anything like that. This is a very temporary solution, so please do forgive
    how hideous it is.</p>
</div>
<div class="right-sec justify">
  <h2>Total Rewrite?</h2>
  <p>2018-09-30 – I've decided that the Phoenix framework is a bit overkill for
    my website. If I want to add a feature to my website, like uploading
    pictures without manually editing the source code and generating thumbnails,
    I can't just write some code that does that, I need to dig into the
    framework and find out how Phoenix wants me to do it. Elixir is odd as
    well. It's a nice language, but is kinda just a watered-down Haskell with
    even more inflexible abstraction when it comes to the OTP. The point of
    writing the code for this website from scratch was to understand as much of
    the stack as possible. With that said, I am going to start on a rewrite in
    either Common Lisp, Haskell, or Rust and use only HTTP libraries and tools
    of equivocally minimal abstraction. This could take a little while, as I
    have now started my studies at the University of Sheffield, but this website
    is also laughably simple, so it shouldn't take me long. The void is calling,
    and it's whispering Haskell... Anyhow, once the rewrite is complete, y'all
    can look forward to: An actual Contact page, perhaps an actually Attractive™
    front page, a proper blog (so I can berate the world further), an About Me
    section so I can feed my inner lake-gazer, and (if I am feeling extra wild)
    some client-side code.</p>
  
  <p>2018-10-3 – I think I've decided to do it in Haskell. It's been a little
    while since I've had a go with it. You can track the progress of the
    rewrite <a href="https://gitlab.com/TheLostLambda/thelostlambda.xyz/tree/rehask">
    here</a>.</p>
  
  <p>2018-10-31 – It is done. This web page is being served by a server I
    wrote. The only library that I used was the Network.Socket library. Check it
    out <a href="https://gitlab.com/TheLostLambda/thelostlambda.xyz/tree/rehask">
    here</a>. There is still a long ways to go, this is just a feature-parity
    milestone. The biggest thing I am missing from Phoenix is templated HTML,
    but that isn't too much of an annoyance at the moment. This server is still
    SUPER brittle and doesn't even support POST requests, or any sort of request
    header. That being said, it serves a static page well.</p>
</div>
<div class="left-sec justify rest">
  <h2>Front-End Redesign</h2>
  <p>2019-01-27 – Well, I finally got around to cleaning up the design of the
    site. I think things look a lot nicer now. This cleaning means that I've
    deleted some things, however, so I figured I'd include the things I want to
    keep here.</p>

  <p> Here is the nixed snippet about the logo: </p>
  <p> Isn't that a neat logo? Made it myself! It's a combination of a pulsar
    from Conway's Game of Life and the circular structure of a DNA plasmid. It
    combines my biggest interests! Biotechnology and Computer Science.</p>

  <p> I've also been working lots on the back-end. I can handle POST requests
    now and should only be a couple of working days away from having a
    functional blog and photo upload system.</p>
</div>
